.arena___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../resources/arena.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.arena___battlefield {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.arena___fighter {
  transition: transform .15s ease-in-out;
}

.arena___left-fighter.--attack {
  transform: translate(30px, -50px);
}

.arena___right-fighter.--attack {
  transform: translate(-30px, -50px);
}

.arena___left-fighter.--criticalAttack {
  transform: scale(1.2) translate(260px, -50px);
}

.arena___right-fighter.--criticalAttack {
  transform: scale(1.2) translate(-260px, -50px);
}

.arena___left-fighter.--killed {
  transform: rotate(90deg) translate(120px, 0);
}

.arena___right-fighter.--killed {
  transform: rotate(-90deg) translate(-120px, 0);
}

.arena___right-fighter img {
  transform: scaleX(-1);
}

.arena___fighter img {
  height: 480px;
}

.arena___fight-status {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.arena___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.arena___fighter-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.arena___health-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
}

.arena___health-bar {
  height: 100%;
  width: 100%;
  background-color: #ebd759;
  transition: background .15s ease-in-out;
}

.arena___health-bar.--diying {
  background-color: #ff1606;
}

.arena___super-energy-bar {
  align-self: flex-start;
  height: 6px;
  width: 100%;
  border-radius: 1px;
  background: #ff00d4;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 50%);
  transition: width 9.8s linear;
}

.arena___super-energy-bar.--empty {
  width: 0;
  transition-duration: .2s;
}

.arena___versus-sign {
  width: 150px;
  height: 100px;
  background: url('../../resources/versus.png') no-repeat center;
  background-size: contain;
}
