.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___root img {
  height: 350px;
}

.preview-container___versus-table {
  width: 200px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.preview-container___versus-table p {
  margin: 2px 0;
  padding: 10px 5px;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 18px;
  font-family: 'Arial Black';
  font-weight: 700;
  background: #000;
}

.preview-container___versus-table span {
  opacity: .8;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___left .fighter-preview___name {
  text-align: right;
  width: 100%;
}

.fighter-preview___right .fighter-preview___name {
  text-align: left;
  width: 100%;
}

.fighter-preview___name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
  background: #000;
  padding: 0 78px;
}